.btnBig {
    background-color: #4c4c4c;
    color: #F8F8F8;
    width: 155px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}
.btnWhite {
    background-color: #f1f1f1;
    color: #4c4c4c;
    width: 155px;
    height: 40px;
    border-radius: 20px;
}

.btnGo{
    background-color: #F8F8F8;
    color: #4c4c4c;
    width: 2.5rem;
    border-radius: 20px;
}
.btnBig:link{
    text-decoration: none;
}
.btnBig:hover{
    background-color: #4c4c4c;
    color: #F8F8F8;
}
.btnWhite:link{
    text-decoration: none;
}
.btnWhite:hover{
    background-color: #f1f1f1;
    color: #4c4c4c;
}