.logo {
    margin-top: 1rem;
}

.linkBlack:hover {
    background-color: inherit;
}

.link:link {
    text-decoration: none;
    color: black;
    padding: 0;
}

.link:hover {
    color: black;
    background-color: inherit;
}

.link:visited {
    color: black;
}