.link:link {
    text-decoration: none;
    color: black;
    padding: 0;
}

.link:hover {
    background-color: #F8F8F8;
    color: black;
}

.link:visited {
    color: black;
}

.linkLogo:hover {
    background-color: #4c4c4c;
}

.logo {
    margin-left: 5rem;
    margin-top: 1rem;
}