.scroll {
    width: 47rem;
    height: 36rem;
    overflow: scroll;
    overflow-x: hidden;
}
.top{
    position: relative;
}

.bottom{
    position: absolute;
    bottom: 1rem;
}
.themeBack{
    background-image: url("../images/back.jpg");
}