.scroll {
    width: 50rem;
    height: 36rem;
    overflow: scroll;
    overflow-x: hidden;
}

.bottom{
    position: absolute;
    bottom: 0.5rem;
}
.themeBack{
    background-image: url("../images/back.jpg");
    min-height: 100vh;
}