@media screen and (min-width: 992px ){
    .rightBar{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 991px){
    .rightBar{
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (max-width: 768px ){
    .guideImg{
        width: 170px;
        height: 50px;
    }
    .guideInfo{
        top: 6rem;
    }
}
@media screen and (max-width: 455px ){
    .rightBar{
        display: flex;
        flex-direction: column;

    }
    .rightBarCenter{
        justify-content: center;
        margin: auto;
    }
}
