@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,400;1,700&display=swap');

/*==============HEADER================================*/
header input{
    width:200px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 6px;
    background-color: transparent;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #F8F8F8;
    color: #F8F8F8;
}

header label {
    color: #F8F8F8;
    font-style: italic;
    margin-top: 6px;
}

header, footer {
    background-color: #4c4c4c;
}

/*=============MAIN===================================*/

.top{
    position: relative;
}

.bottom{
    position: absolute;
    bottom: 1rem;
}

.cursor{
    cursor: pointer;
}

/*======================FOOTER=============================*/

footer input{
    background-color: transparent;
    color: #F8F8F8;
    border-style: groove;
}



/*=========================OTHER==========================*/
.scroll {
    width: 47rem;
    height: 36rem;
    overflow: scroll;
    overflow-x: hidden;
}

.leftLine {
    background-color: #4c4c4c;
}

.themeBack{
    background-image: url("./images/back.jpg");
}
