@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,400;1,700&display=swap');

header input {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 6px;
    background-color: transparent;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #F8F8F8;
    color: #F8F8F8;
}

header label {
    color: #F8F8F8;
    font-style: italic;
    margin-top: 6px;
}

header, footer {
    background-color: #4c4c4c;
}

footer input {
    background-color: transparent;
    color: #F8F8F8;
    border-style: groove;
}

/*========================================================*/

.cursor {
    cursor: pointer;
}

label button:hover{
    background:#ECD59E;
}

.popupList {
    list-style-type: none;
    background-color: #F8F8F8;
    width: 20rem;
    height: 20rem;
}

.popupList li:hover{
    background:#ECD59E;
}

.popupHeader{
    background-color: #ECD59E;
    width: 60rem;
    height: 20rem;
}

.popupHeader h3{
    width: 10rem;
}